body{background-color:#FFF;background-image:url('../background.jpg');min-height:500px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;color:#f8f8f9;font-family:'Lato', sans-serif;}
@media(max-width:767px){#logo{max-width:120px;display:block;}
#head{padding:0 30px;}
.container{padding:0;}
.content{font-size:11pt;}
.navbar-toggle{font-size:50px;margin-top:50px;}
.navbar-header{display:block;}
h2{font-size:22pt;}
h3{font-size:14pt;}
.welcome h2{font-size:22pt;}
li a{font-size:18pt;}
}
@media(min-width:768px){#logo{max-width:120px;display:block;}
.dropdown-menu{background-color:rgba(0, 36, 79, 0.7);}
.welcome h2{font-size:22pt;}
.content{font-size:11pt;}
.navbar-nav > li{padding-top:50px;}
li a{font-size:14pt;}
}
@media(min-width:992px){#logo{max-width:120px;display:block;}
.welcome h2{font-size:24pt;}
.content{font-size:12pt;}
.navbar-nav > li{padding-top:50px;}
li a{font-size:16pt;}
}
@media(min-width:1200px){#logo{max-width:100px;display:block;}
.welcome{margin-left:10px;}
.welcome h2{font-size:30pt;}
h2{font-size:28pt;}
h3{font-size:18pt;}
.content{font-size:13pt;}
.navbar-nav > li{padding-top:35px;}
.navbar-brand{margin-left:30px!important;}
li a{font-size:16pt;}
}
h1{color:#191D23;font-size:23px;font-weight:300;line-height:1.4;white-space:nowrap;}
h2{color:#fff426;font-family:'BenchNine', sans-serif;font-weight:700;}
h3{color:#CCCC2C;}
a{color:#fff426;}
a:hover, a:focus{color:#ffff33;}
a:visited{color:#e0e02f;}
footer{background:rgba(0, 36, 79, 0.7);margin-top:30px;padding:20px 20px 20px 20px;text-align:center;}
#navig{width:100%;z-index:99;}
.navbar{text-transform:uppercase;margin-bottom:0;}
.navbar-nav{margin:0;}
.navbar-default{background:rgba(0, 36, 79, 0.7);}
.navbar-default .navbar-nav > li > a{color:#fff426;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{color:#ddd424;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#fff426;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{color:#ddd424;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{color:#ddd424;background:rgba(0, 36, 79, 0.9);}
.navbar-brand{height:auto;}
.navbar-collapse{padding:0;}
.navbar-toggle{margin-right:0;}
li a{font-family:'BenchNine', sans-serif;}
.nav-pills > li > a{color:#f8f8f9;}
.nav-pills > li > a:hover{background:rgba(40, 47, 56, 0.5);}
.nav > li > a:focus{background:none;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{color:#ffff33;background:rgba(40, 47, 56, 0.5);}
.dropdown-menu > li > a:hover{color:#f8f8f9;background:rgba(40, 47, 56, 0.5);}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background:rgba(40, 47, 56, 0.8);border:none;}
.navbar-nav .open .dropdown-menu > li > a{line-height:20px;color:#FFF;}
.welcome{background:rgba(149, 149, 51, 0.5);padding:30px;float:left;margin-top:115px;}
.welcome p{margin-bottom:0;color:#191D23;}
.welcome h2{color:#e0e02f;text-shadow:0 0 3px #000;}
.content{background:rgba(20, 47, 56, 0.8);padding:30px;margin-top:30px;}
#klienci img{margin-bottom:5px;}
.sign{text-align:right;}
.logoproduct{float:right;}
blockquote{border-left:0;font-size:inherit;}